@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to caracafé!</h1>
    <p>Connect with friends while enjoying delicious coffee.<br />
    <a href="/Registration">Sign Up</a>.</p>
</div>
